html
{
	height: 100%;
}

body
{
	--grey: #222;
	--light-grey: #CCC;
	--dark-green: #00A676;
	--main-green: #4DC773; 
	margin: 0;
	font-family: Helvetica;
	position: relative;
	min-height: 83%;
}

header
{
	background-color: var(--main-green);
	margin: 0;
	padding-top: 20px;
	color: var(--grey);
}

main
{
	margin: 20px 10%;
	clear: both;
	height: 100%;
	margin-bottom: 0;
}

/* nav */
header h1
{
	margin-top: 0;
	margin-left: 20px;
}

nav
{
	background-color: var(--dark-green);
	display: flex;
	width: 100%;
}

nav a
{
	text-align: center;
	display: block;
	padding: 10px 0;
	flex-grow: 1;
	text-decoration: none;
	color: var(--grey);
}

nav a:hover
{
	background-color: var(--main-green);
	opacity: .5;
	color: black;
}

/* Product changes */
.salePr
{
	color: var(--dark-green);
}

.priceStrike
{
	text-decoration: line-through;
}

.prod
{
	border-bottom: 1px solid var(--light-grey);
	margin: 20px 0;
	padding: 20px 0;
	display: flex;
}

.prodDesc
{
	margin-left: 50px;
	width: 65%;
}

.prodDesc h2
{
	margin-top: 0;
}

.prodImg
{
	width: 25%;
	text-align: center;
}

.prod img, .prod img
{
    height: 200px;
}

#sales > h2, #products > h2
{
	font-size: 2em;
	margin-left: 20px;
	color: var(--grey);
}

/* sales specific changes */
.prodDesc .star
{
	color: gold;
}

/* products specific changes */
#products > h2
{
	margin-top: 50px;
}

#products div:last-child
{
	border: none;
}

/* Add to cart buttons */
.cart
{
	font-size: 1em;
	padding: 5px;
	width: 150px;
	height: 30px;
	background-color: #FFF;
	border-radius: 5px;
	border: 1px solid var(--light-grey);
}

.cart:hover
{
	border: 1px solid var(--main-green);
	color: var(--dark-green);
	cursor: pointer;
}

/* Paging buttons */
.page, 
#empty
{
	font-size: 1em;
	width: 150px;
	height: 30px;
	color: var(--dark-green);
	background-color: #FFF;
	border: none;
}

.page:disabled
{
	color: var(--light-grey);
}

.page:hover:enabled, 
#empty:hover
{
	text-decoration: underline;
	cursor: pointer;
}

.pages
{
	display: flex;
	justify-content: center;
}

.pages *
{
	flex: 1;
	margin: 0;
	padding: 5px 0;
	text-align: center;
}

/* cart specific */
.right
{
	float: right;
	padding-right: 10px;
}

.locTotal
{
	flex: 1;
	text-align: right;
	height: 35px;
	padding-right: 10px;
	align-self: flex-end;
}

/* login */
#login
{
	width: 400px;
	margin: 50px auto;
}

form > input/* submit button */
{
	margin: 0 auto;
	width: 100px;
	height: 25px;
	background-color: var(--main-green);
	border: none;
	border-radius: 5px;
	font-size: .8em;
}

form > input:hover
{
	background-color: var(--dark-green);
	cursor: pointer;
}

#login span
{
	width: 100px;
	display: inline-block;
}

form div, 
form > input
{
	display: block;
	margin-bottom: 20px;
}

form div
{
	text-align: center;
}

/* admin page */
table
{
	border-collapse: collapse;
}

tr:hover
{
	background-color: #a8edbd;
}

th, td
{
	border: 1px solid var(--grey);
	padding: 5px;
	min-width: 40px;
}

th
{
	background-color: var(--main-green);
	height: 50px;
}

#addItem
{
	width: 100%;
	height: 50px;
	font-size: 1em;
	background-color: var(--main-green);
	border: none;
	border-radius: 5px;
}

#addItem:hover
{
	background-color: var(--dark-green);
	cursor: pointer;
}

.tweenTable
{
	margin-top: 40px;
}

/* edit item page */
#edit,
h3
{
	width: 340px;
	margin: 50px auto;
}

#edit span,
#edit label
{
	width: 130px;
	display: inline-block;
	text-align: left;
	vertical-align: top;
} 

#edit input,
#edit textarea
{
	width: 200px;
}

#edit textarea
{
	height: 100px;
}

#edit > input
{
	width: 49%;
	display: inline-block;
	margin: 20px 0 0;
}

#edit > input:last-child
{
	background-color: var(--light-grey);
}

#edit > input:last-child:hover
{
	background-color: #AAA;
}

/* footer */
footer
{
	height: 50px;
	background-color: var(--main-green);
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: -120px;
	padding-top: 20px;
}